# Gradle wrapper scripts
/gradlew        text eol=lf
/gradlew.bat    text eol=crlf

# Java and Kotlin source files
*.java          text eol=lf
*.kt            text eol=lf

# Config and build scripts
*.gradle        text eol=lf
*.gradle.kts    text eol=lf
*.xml           text eol=lf
*.yml           text eol=lf
*.yaml          text eol=lf
*.properties    text eol=lf

# Binary files
*.jar           binary
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
