<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Player API Suite" verbose="1">
  <listeners>
    <listener class-name="com.ravejoy.player.listeners.ParallelOverrideListener"/>
    <listener class-name="com.ravejoy.player.listeners.LoggingTestListener"/>
  </listeners>

  <test name="infra" parallel="none">
    <packages>
      <package name="com.ravejoy.player.infra.*"/>
    </packages>
  </test>
</suite>
