<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Player API Suite" verbose="1">

<listeners>
<listener class-name="com.ravejoy.player.listeners.ParallelOverrideListener"/>
<listener class-name="com.ravejoy.player.listeners.LoggingTestListener"/>
<listener class-name="com.ravejoy.player.listeners.CleanupListener"/>
</listeners>

  <test name="infra" parallel="none">
    <packages>
      <package name="com.ravejoy.player.infra.*"/>
    </packages>
  </test>

   <test name="functional">
    <groups>
      <run>
        <exclude name="known-issues"/>
      </run>
    </groups>
    <packages>
      <package name="com.ravejoy.player.functional.*"/>
    </packages>
  </test>

<test name="design">
    <groups>
      <run>
        <exclude name="known-issues"/>
      </run>
    </groups>
    <packages>
      <package name="com.ravejoy.player.design"/>
    </packages>
  </test>

</suite>
